<form action="/name" method="post">
  <input id="name" name="name">
  <input id="submit-name" type="submit">
</form>

<form action="/cake-type" method="post">
  <label for="whole-wheat">Whole wheat</label>
  <input type="radio" name="cakeType" id="whole-wheat" value="Whole wheat">

  <input id="submit-cake-type" type="submit">
</form>

<form>
  <label for="strawberries">Strawberries</label>
  <input type="checkbox" id="strawberries" name="filling" value="Strawberries">Strawberries<br>
  <label for="banana">Banana</label>
  <input type="checkbox" id="banana" name="filling" value="Banana">Banana<br>

  <input id="submit-fillings" type="submit">
</form>


<p id="deliver-to">
  {{order.name}}

  {{#if errors.name}}
    <span>{{errors.name}}</span>
  {{/if}}
</p>

<p id="cake-type">
  {{order.cakeType}}
</p>

<p id="fillings">
  Strawberries, Banana
</p>
