<section data-role="messages">
  {{#each messages as |message|}}
    <p>{{message.author}}</p>
    <p>{{message.message}}</p>
  {{/each}}
</section>

<form action="/messages" method="post" data-role="message-form">
  <label for="author">Your name:</label>
  {{> input-with-errors errors=errors name="author"}}

  <label for="message">Your message:</label>
  {{> input-with-errors errors=errors name="message"}}

  <input type="submit">
</form>
