<section id="messages">
  {{#each messages as |message|}}
    <p>{{message.author}}</p>
    <p>{{message.message}}</p>
  {{/each}}
</section>

<form id="message-form" action="/messages" method="post" >
  <label for="author">Your name:</label>
  <input type="text" id="author" name="author">
  {{#with (lookup errors "author") as |error|}}
    <span class="error">{{error.msg}}</span>
  {{/with}}

  <label for="message">Your message:</label>
  <textarea id="message" name="message"></textarea>
  {{#with (lookup errors "message") as |error|}}
    <span class="error">{{error.msg}}</span>
  {{/with}}

  <input type="submit">
</form>
