<input id="name">
<input id="submit-name" type="submit">

<input type="radio" id="whole-wheat" value="Whole wheat">
<input id="submit-cake-type" type="submit">

<p id="deliver-to">
  Hungry Person
</p>

<p id="cake">
  Whole wheat
</p>
